// ==========================================================================
//  Mixins
// ==========================================================================


@mixin item-flex($width) {
  width: $width;
  height: 98%;
  border: 1px solid $mischka;
  display: flex;
  align-items: center;
  justify-content: center;
  @content;

  @media(max-width: $xs-below){
    width: $width;
  }
}

@mixin flex-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self:center;
  @content;
}

@mixin item-label{
width: 80px;
height: 35px;
background-color: $goldenrod;
color: white;
font-family: Gillsans-light;
font-size: em(15px);
transform: rotate(-90deg);
position: absolute;
top: 60px;
left: -23px;
display: flex;
justify-content: center;
flex-direction: column;
text-transform: uppercase;
@content;
}


@mixin underline($bg-color: $white, $top: 60px, $left:40%, $width: 60px, $bd-r: 10px) {
  content: '';
  position: absolute;
  background-color: $bg-color;
  top: $top;
  left: $left;
  width: $width;
  height: 5px;
  border-radius: $bd-r;
  @content;
}

@mixin timer(){
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #f0f0f2;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-right: em(13px);
@content;
}

// Hack for the animation
.ajax-container{
  position: absolute;
  border: 1px solid transparent;
  width: 100%;
  height: 310px;
  padding-bottom: 47px;
}
