
#footer{
  background-color: $shark;
  padding: em(130px) em(0px) em(190px);

  h1{
    display: inline-flex;
    position: relative;
    font-family: 'Work Sans', sans-serif;
    font-size: em(30px);
    font-weight: 500;
    margin-bottom: em(60px);
    color: $white;

    &::before{
      @include underline($curious-blue, 37%);
    }
  }

  h4{
    color: $santas-gray;
    font-family: 'Work Sans', sans-serif;
    font-size: em(17px);
    font-weight: 400;
    max-width: 270px;
  }


  .row{
    display: flex;
  }

  .logo{
    width:210px;
  }

  .circle-contain{
    display: flex;

    .social-media-circle{
      display: flex;
      justify-content: center;
      width: 40px;
      height: 40px;
      border: 2px solid $abbey;
      border-radius: 50px;
      background-color: $abbey;
      margin-right: em(13px);
    }

  }

}
